
@keyframes slideInUp {
    from {
        transform: translate(0, 20%);
    }
    to {
        transform: translate(0, 0);
    }
}
.animate__slideInUp {
    animation: slideInUp 1s;
}

@keyframes slideInRight {
    from{
        transform: translate(3%, 0);
    }
    to{
        transform: translate(0,0);
    }
}
.animate__slideInRight {
    animation: slideInRight 1s;
}

@keyframes pulse {
    from {
        transform: scale(1.03, 1.03);
    }
    to {
        transform: scale(1, 1);
    }
}
.animate__pulse {
    animation: pulse 1s;
}
