.introductionText{
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
}

.case{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.case section{
    width: 49%;
}

.case img{
    width: 100%;
    height: 30rem;
    object-fit: cover;
}