html, body, #main{
  height: 100%;
}

#main{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

article{
  scroll-snap-align: start;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
article:not(:first-of-type){
  padding-top: 10vh;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}

/***** 스크롤바 커스텀 *****/

::-webkit-scrollbar {
  display: none;
}

/****** 캐라솔 높이 커스텀 *****/
.carousel-item{
  height: 100vh;
}

/******** 캐라솔 밑 표시 커스텀 *******/
.carousel-indicators li {
  width: 150px;
  background-color: #9b9b9b;
}

.aiden{
  color: var(--main-color); 
  letter-spacing: 0.45rem; 
  border-bottom: solid var(--main-color) 1px;
  font-size: 1.6rem; 
  text-align: right; 
  line-height: 140%; 
  margin-bottom: 2rem;
}

.main-text{
  font-size: 5rem; 
  line-height: 150%;
  margin-bottom: 2vh;
  color: #151515;
}

#first-main-text{
  font-size: 3rem;
  color: #555555;
}

#second-main-text{
  color: white;
}

.main-text span{
  font-size: 5rem; 
  line-height: 150%; 
  font-family: 'TmonMonsori';
  font-weight: 400;
}

#first-main-text>.slider:first-of-type{
  transform: translate(0, 40%);
}

#first-sub-text{
  font-size: 3.2rem; 
  margin-left: 1%; 
  font-weight: 400;
  line-height: 150%;
}

#second-main-text>.slider:first-of-type{
  color: #00F3FF; 
  line-height: 130%; 
  font-size: 2.5rem;
  font-weight: 300;
}

#second-sub-text{
  font-size: 2.5rem;
  border-bottom: white 1px solid;
  color: white;
  line-height: 150%;
}

/***** 메인화면 모바일용 글자크기 조정****/
@media screen and (max-width: 900px){
  #first-main-text{
    margin-top: 40vh;
  }
}

/*********** 의사 프로필 ***********/

#doctor-wrapper{
  position: relative;
  color: #818181;
  text-align: right;
}

#doctor-wrapper .aiden{
  font-size: 1.85rem;
}

#doctor-image{
  position: absolute;
  z-index: 10;
  bottom: 0;
  width: 40rem;
  left: 5vw;
  filter: drop-shadow(8rem 1.5rem 0 rgba(0,0,0,.05));
  transform: scaleX(-1);
}

#doctor-image img:first-of-type{
  transform: translate(0%, 20%);
}
  
#main-text{
  color: var(--main-color);
  letter-spacing: 0;
  text-align: left; 
  margin-left: 30vw; 
  font-size: 5rem; 
  font-family: 'UNPGothicKS'; 
  margin-top: 20rem; 
  line-height: 130%;
}
  
#doctor{
  font-weight: 500;
  font-size: 3.6rem;
  color: #151515;
  margin-bottom: 4rem;
}
  
#doctor span:last-of-type{
  font-size: 4.5rem;
  line-height: 170%;
}

#doctor section{
  font-size: 2.8rem;
  font-weight: 300;
}

hr{
  width: 5rem;
  background-color: #818181;
  margin-left: auto;
}

#papers{
  margin: 3vh 2vw 1vh 2vw;
  position: relative;
  display: flex;
}

.paper-item{
  width: 25%;
  height: 30vh;
  position: absolute;
}

.paper-item img{
  object-fit: fill;
}


.paper-item:nth-of-type(1){
  right: 40%;
  z-index: 5;
}

.paper-item:nth-of-type(2){
  right: 30%; 
  z-index: 4;
}

.paper-item:nth-of-type(3){
  right: 20%;
  z-index: 3;
}

.paper-item:nth-of-type(4){
  right: 10%;
  z-index: 2;
}

.paper-item:nth-of-type(5){
  right: 0;
  z-index: 1;
}

#history{
  background-image: url('/images/index/background.jpg'); 
  background-position: 50% 50%; 
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 4.5rem;
  line-height: 150%;
  font-size: 1.6rem;
}

#history .aiden{
  font-size: 2rem;
}

/***** 메인화면 모바일용 글자크기 조정****/
@media screen and (max-width: 900px){
  #main-text{
    margin: 2rem auto 0 0;
    text-align: right;
    font-size: 4.5rem;
  }

  #doctor-image{
    width: 50%;
    filter: drop-shadow(5rem 1.5rem 0 rgba(0,0,0,.05));
  }

  #doctor-image img:first-of-type{
    transform: translate(0,5vh);
  }

  #papers{
    margin: 7%;
  }

  .paper-item{
    width: 40%;
    height: 18vh;
  }

  .paper-item:nth-of-type(1){
    right: 0%;
  }

  .paper-item:nth-of-type(2){
    right: 0%;
    top: 10vh;
  }

  .paper-item:nth-of-type(3){
    right: 0%;
    top: 20vh;
  }
  .paper-item:nth-of-type(4){
    right: 0%;
    top: 30vh;
  }
  .paper-item:nth-of-type(5){
    right: 0%;
    top: 40vh;
  }
}
  
  /*************진료과목**************/
  
  #category{
    border-bottom: var(--main-color) 1px solid;
    color: var(--main-color);
    line-height: 180%;
    font-weight: 400;
    width: fit-content;
    font-family: 'UNPGothicKS';
  }
  
  #treatment-subject-text{
    padding: 2rem 0 2.2rem 0;
    font-size: 3rem; 
    line-height: 160%;
    color: #9B9B9B;
    font-family: 'UNPGothicKS';
  }

  #treatment-subject-text strong{
    color: black;
    border-bottom: solid 2px black;
  }
  
  .scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    margin-top: 2vh;
    height: 56vh;
    width: 100%;
    -webkit-overflow-scrolling: touch;

    scroll-snap-type: x mandatory;
  }

  .scrolling-wrapper-flexbox::-webkit-scrollbar {
    display: block;
  }
  

  .scrolling-wrapper-flexbox::-webkit-scrollbar-thumb{
    background: #eeeeee;
  }
  
  .card {
    width: 46.6rem;
    height: 36rem;
    display: inline-block;
    flex: 0 0 auto;
    margin-right: 2rem;
    border: none;

    scroll-snap-align: start;
  }

  .card section:first-of-type{
    font-size: 2.5rem;
    margin: 1.5rem 0 1rem 0;
    color: #151515;
    font-weight: 400;
    border-bottom: solid 1px #ececec;
    line-height: 150%;
  }

  .card section:first-of-type strong{
    font-weight: 600;
  }

  .card span{
    font-size: 1.8rem;
    line-height: 150%;
    color: #777777;
  }
  
  .cardImg{
    height: 28rem;
    overflow: hidden;
    border-radius: 1rem;
  }

/***** 메인화면 모바일용 글자크기 조정****/
@media screen and (max-width: 900px){
  #category{
    margin-top: 10vh;
  }
  .card{
    width: 70%;
  }
}
  
  /************** 소독 영상 **********/
  #roomVideoArticle{
    position: relative;
  }
  
  #roomVideo{
    object-fit: cover;
    height: 75vh;
  }

  #roomVideoArticle section:last-of-type{
    position: absolute;
    z-index: 10;
    background-color: #ffffff;
    background-color: rgba( 255, 255, 255, 0.5 );
    top: 10vh;
    right: 5vw;
    height: 75vh;
    width: 30vw;
    padding: 5vh 3vw 0 3vw;
  }

  .room-text{
    font-size: 4rem;
    line-height: 140%;
    margin-bottom: 2rem;
  }

  .room-text-mobile{
    display: none;
  }

  .point{
    padding: 2vh 0 2vh 0;
  }

  .point div:first-of-type{
    font-size: 2rem;
    color: var(--blue-gray);
    line-height: 150%;
    margin-bottom: 0.5rem;
    font-weight: 500;
  }

  .point div:last-of-type{
    font-size: 1.6rem;
    color: #777777;
    line-height: 150%;
  }

  /***** 메인화면 모바일용 글자크기 조정****/
  @media screen and (max-width: 900px){
    #roomVideoArticle section:last-of-type{
      padding: 0 5%;
      right: 0;
      top: 40vh;
      width: 100%;
      background-color: rgba(0, 0, 0, 0);
      text-align: center;
    }

    .room-text{
      display: none;
    }

    .room-text-mobile{
      display: block;
      font-size: 4rem;
      line-height: 150%;
      margin-bottom: 2rem;
      color: white;
    }

    .point{
     display: none;
    }
  }



  /***********오시는길************/
  
  #map{
    width:100%;
    height: 59rem;
  }
  
  #location{
    display: grid;
    grid-template-columns: 38.9% 1fr;
  }

  #location-illustration{
    position: absolute;
    z-index: -1;
    width: 28vw;
    object-fit: contain;
    right: 7vw;
    bottom: 0;
  }

  #locationText{
    padding-left: 5vw;
    font-size: 3rem;
    color: #151515;
    line-height: 150%;
  }

  .slide-item4{
    font-size: 3rem;
    line-height: 150%;
  }
 
  #smallWelcomeText{
    margin-top: 2rem;
    margin-bottom: 7.2rem;
    animation-delay: 0.3s;

    font-size: 3rem;
    color: var(--main-color);
    font-family: 'GowunBatang-Regular';
    line-height: 150%;
  }

  #information{
    margin-top: 2rem;
  }

  #information span{
    font-size: 2rem;
    font-family: 'UNPGothicKS';
    color: var(--main-color);
    border-bottom: solid 1px var(--main-color);
    line-height: 200%;
  }
  
  #address{
    margin-bottom: 2rem;
    line-height: 120%;

    font-size: 1.8rem;
    color: #777777;
  }
  
  #timeTable{
    font-size: 1.8rem;
    color: #777777;
    line-height: 120%;
    font-weight: 400;
  }

  #timeTable strong{
    font-weight: 500;
    color: black;
  }

  /***** 메인화면 모바일용 글자크기 조정****/
  @media screen and (max-width: 900px){
    #location{
      display: block;
    }
    
    #map{
      width: 100%;
      height: 35vh;
    }

    #address, #timeTable{
      font-size: 2.3rem;
    }

    .slide-item4{
      display: none;
    }

    .pc{
      display: none;
    }

    #location-illustration{
      bottom: -20vh;
      width: 40vw;
    }
  }

/***** 메인화면 모바일용 글자크기 조정****/
@media screen and (max-width: 900px){
  #footer{
    grid-template-columns: 30% 1fr;
  }

  #footer p{
    display: block;
    line-height: 120%;
  }

  #footer section{
    margin: auto 3rem;
  }
}