html, body, #main{
  height: 100%;
}

#main{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

article{
  scroll-snap-align: start;
  height: 100vh;
}
article:not(:first-of-type){
  padding-top: 13vh;
}

/***** 스크롤바 커스텀 *****/

::-webkit-scrollbar {
  display: none;
}


.carousel-item{
  height: 100vh;
}

/*********** 의사 프로필 ***********/

#doctor-wrapper{
  position: relative;
}

#doctor-profile{
  display: grid;
  grid-template-columns: 65% 1fr;
  height: 87vh;
}

#doctor-image{
  filter: drop-shadow(2rem 0 0.5rem rgba(0,0,0,.1));
}
  
  #main-text{
    margin-top: 10vh;
    margin-bottom: 4.8rem;
    font-size: 6.5rem;
    z-index: 10;
    position: absolute;
  }
  
  #doctor{
    margin-top: 37vh;
    animation-delay: 0.5s;
  }
  
  #doctor-name{
    font-size: 3rem;
    font-weight: 500;
    line-height: 200%;
  }
  
  #history{
    display: grid;
    grid-template-columns: 40% 1fr;
    margin-top: 6rem;
    animation-delay: 1s;
  }
  
  #box{
    position: absolute;
    background-color: var(--background-color);
    z-index: -10;
    width: 100%;
    height: 37vh;
    bottom: 0;
  }
  
  
  /*************진료과목**************/
  
  .treatment-subject{
    margin-top: 5.5rem;
  }
  
  #treatment-subject-text{
    padding: 0 0 2.2rem 0;
  }
  
  .scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    margin-top: 3vh;
    height: 53vh;
    width: 100%;
    -webkit-overflow-scrolling: touch;

    scroll-snap-type: x mandatory;
  }

  .scrolling-wrapper-flexbox::-webkit-scrollbar {
    display: block;
  }
  

  .scrolling-wrapper-flexbox::-webkit-scrollbar-thumb{
    background: #eeeeee;
  }
  
  .card {
    width: 46.6rem;
    height: 36rem;
    display: inline-block;
    flex: 0 0 auto;
    margin-right: 2rem;
    border: none;

    scroll-snap-align: start;
  }
  
  .card section{
    margin-bottom: 0.48rem;
  }
  
  .cardImg{
    height: 28rem;
    margin-bottom: 2rem;
    overflow: hidden;
  }

  #smile{
    background-image: url("/images/index/whitening.png");
    background-position: 45% 50%;
    background-size: 140%;
    margin-bottom: 2rem;
  }
  
  
  /************** 소독 영상 **********/
  
  #roomVideoArticle{
    background-color: var(--background-color);
  }
  
  #roomVideo{
    position: relative;
    z-index: 5;
    height: 60vh;
    width:70vw;
  }

  #roomVideo video{
    object-fit: contain;
  }
  
  #videoTextBox{
    position: relative;
    z-index: 10;
    height: 40vh;
    width: 40vw;
    background-color: #ffffff;
    padding: 7vh 3vw 5vh 3.5vw;
    top: -66vh;
    right: -60vw;
  }
  
  #videoTextBox :last-child{
    line-height: 150%;
  }

  #deco{
    position: relative;
    width: 30vw;
    height: 40vh;
    border: double 4px #777777;
    z-index: 3;
    top: -93vh;
    right: -55vw;
  }

  #deco2{
    position: relative;
    width: 8vw;
    height: 13vh;
    background-color: #dadfe6;
    z-index: 0;
    top: -100vh;
    right: -81vw;
  }
  
  /***********오시는길************/
  
  #map{
    width:100%;
    height: 59rem;
  }
  
  #location{
    display: grid;
    grid-template-columns: 38.9% 1fr;
    margin-bottom: 5rem;
  }
  
  #smallWelcomeText{
    margin-top: 2rem;
    margin-bottom: 7.2rem;
    animation-delay: 0.3s;
  }
  
  .highlight{
    background-color: var(--highlight-color);
    width: 11.2rem;
    height: 1.9rem;
    text-align: center;
  }
  
  .highlight span{
    position: relative;
    top : -0.48rem;
  }
  
  #locationText{
    padding-left: 12.4%;
    padding-top: 3.2rem;
  }
  
  #address{
    margin-top: 1.12rem;
    margin-bottom: 4rem;
    line-height: 150%;
  }
  
  #timeTable{
    margin-top: 1.12rem;
  }