
#insurance{
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: var(--background-color);
    text-align: center;
}

#insurance-summary{
    display: flex;
    width: 66%;
    background-color: white;
    height: 19rem;
    margin: 3rem auto 3rem auto;
}

#insurance-summary section:not(.vertical-line) {
    width: 13rem;
    height: 13rem;
    margin-top: auto;
    margin-bottom: auto;
}

#insurance-summary section span:first-of-type{
    line-height: 200%;
}

#insurance-summary section:not(#target){
    padding-top: 1rem;
}

#target{
    border-radius: 50%;
    background-color: var(--background-color);
    display: table;

    font-size: 2rem;
    margin: 0 auto 0 auto;
}

#target span{
    display: table-cell;
    vertical-align: middle;
}

.vertical-line{
    width: 1px;
    height: 9rem;
    background-color: #E5E5E5;
    margin-top: auto;
    margin-bottom: auto;
}

.insurance-explain{
    margin: auto;
}

.insurance-explain span:first-of-type{
    font-size: 2rem;
    font-weight: 500;
    border-bottom: 1px solid #cccccc;
}

.insurance-explain div:last-of-type{
    font-size: 1.6rem;
    line-height: 120%;
    margin-top: 1rem;
}

.checkbox{
    width: 1.5rem;
    height: 1.5rem;
}