:root {
  --main-color: #A7CDCF;
  --background-color: #D0E4E5;
  
}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');}

body{
  font-family: 'Noto Sans KR';
  font-weight: 300;
  color: #333333;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.bold{
  font-weight: 400;
}

.italic{
  font-style: italic;
}

.bigText{
  /* 55px */
  font-size:3.38rem;
  font-weight:700;
  line-height: 110%;
}

.mainText{
  /* 24px */ 
  font-size:1.47rem;
  line-height: 120%;
}

.subText{
  /* 18px */
  font-size:1.10rem;
  line-height: 120%;
}

.smallText{
  /* 14px */
  font-size:0.86rem;
  color: #555555;
  line-height: 120%;
}


.hasBackGroundColor{
  background-color: #D0E4E5;
}

.coloredText{
  color: var(--main-color);
}

.wrap{
  margin-left: 8.47%;
  margin-right: 8.47%;
}

.main-header {
  width: 100%;
  position: fixed;
  z-index: 1;
}

.logo-image {
  height: 40px;
}

@media screen and (max-width: 900px){
  #header-menu{
    display: none;
  }
}

#header-menu li{
  display: inline-block;
  font-size: 1.23rem;
  font-weight: 400;
  color:white;
}

#quick-menu {
  font-size: 1.23rem;
  font-weight: 400;
  color:white;
}

.right{
  margin-left: auto;
}

.vertical-middle{
  margin-top: 1rem;
  margin-bottom: 1rem;
}


/************ 언어 선택 ************/
.lang-select {
  margin-left: 20px;
  align-items: center;
}

.flags {
  width: 24px;
  height: 24px;
  display: inline-block;
}

.flags img {
  border-radius: 50%;
}


/*************비디오**************/
.video-player{
  width: 100%;
  font-size: 0; /*비디오 사이 간격 없애기 위해 추가한 거라 지우시면 안돼요 !*/
}

video{
  width: 100%;
}

/*************진료과목**************/

.treatment-subject{
  margin-top: 6rem;
}

#treatment-subject-text{
  padding: 0 0 1.8rem 0;
}


.carousel-item{
  background-color: #eeeeee;
  height: 40rem;
}

/***********오시는길************/
#location{
  display: grid;
  grid-template-columns: 38.9% 1fr;
}

#locationText{
  padding-left: 12.4%;
}

#history{
  display: grid;
  grid-template-columns: 40% 1fr;
}

#doctorName{
  font-size: 1.72rem;
  font-weight: 500;
}

#doctorProfile{
  display: grid;
  grid-template-columns: 70% 1fr;
}

#roomVideoArticle{
  height: 26.875rem;
  margin-bottom: 4.75rem;
}

#roomVideo{
  width:66%;
  height: 100%;
}

#map{
  width:100%;
  height: 590px;
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  height: 360px;
  margin-bottom: 20px;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

.card {
  width: 466px;
  height: 360px;
  display: inline-block;
  flex: 0 0 auto;
  margin-right: 20px;
}

.cardImg{
  height: 280px;
}

.color7{
  color:#777777
}

.color5{
  color:#555555
}