@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

@font-face {
  font-family: 'TmonMonsori';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UNPGothicKS';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/UNPGothicKS.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.TmonMonsori{
  font-family: 'TmonMonsori';
}

.UNPGothickKS{
  font-family: 'UNPGothicKS';
}

:root {
  font-size: 62.5%; /* rem 단위 계산을 쉽게 할 수 있도록 기본 단위를 10px로 맞춰주기 */
  --main-color: #9ebed7;
  --highlight-color: #D0E4E5;
  --background-color: #EFF7F9;
  --blue-gray: #70818A;
  --point-color: #03c9c9;
}

@media screen and (max-width: 900px){
  :root{
    font-size: 40%;
  }
}

body{
  font-weight: 300;
  color: #333333;
  font-family: "Noto Sans KR", sans-serif !important;
  letter-spacing: -0.15rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

strong{
  font-weight: 400;
}

.overline{
  text-decoration: overline;
}

.underline{
  border-bottom: solid 1px #333333;
  line-height: 300%;
}

.text-dot{
  text-emphasis-style: dot;
  text-emphasis-position: over;
  -webkit-text-emphasis-style: dot;
  -webkit-text-emphasis-position: over;
}

/***** 스크롤바 커스텀 *****/

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
 
::-webkit-scrollbar-track {
  display: none;
}
 
::-webkit-scrollbar-thumb {
  background: var(--highlight-color);
  border-radius: 10px;
}


/***** nav bar *****/

#my-header{
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 8rem;
  margin-left: 3rem;
  display: grid;
  grid-template-columns: 20rem 1fr;
}

#my-header img{
  object-fit: contain;
}

#my-header div{
  margin-left: 2rem;
  transform: translate(0, 26%);
}

#my-header ul{
  line-height: 180%;
}

#my-header li{
    display: inline-block;
    top:50%;
    font-size: 2rem;
    font-weight: 500;
    margin-right: 0.5rem;
    color: #151515;
}

#my-header li :hover{
  color: var(--point-color);
  border-bottom: 2px solid white;
}

@media screen and (max-width: 900px){
  #my-header li{
    font-size: 1.2rem;
  }

  #my-header{
    height: 8rem;
    align-items: center;
  }
}

/** 언어 선택 **/

#flags-bar{
  position: fixed;
  z-index: 10;
  margin-left: 3rem;
  margin-top: 10rem;
}

.flags {
  width: 2.7rem;
  height: 2.7rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}

.flags img {
  border-radius: 50%;
  object-fit: cover;
}

/** 네이버 예약 **/

#connecting{
  position: fixed;
  z-index: 100;
  right: 3rem;
  bottom: 3rem;
  width: 10rem;
}

#connecting img{
    object-fit: contain;
    width: 100%;
    filter: drop-shadow(0px 2.5px 1.5px rgba(0,0,0,0.2));
}

/********* 글자 클래스 *******/

.main-text{
  font-size: 4rem;
  font-weight: 500;
  color: #818181;
  line-height: 130%;
  margin-bottom: 4rem;
}

.main-text strong{
  font-weight: 600;
}

.sub-text{
  font-size: 1.8rem;
  line-height: 150%;
  color: black;
}

.text40{
  font-size: 4rem;
  line-height: 150%;
}

.text24{
  /* 24px */ 
  font-size:2.4rem;
  line-height: 150%;
}

.text20{
  font-size: 2rem;
  line-height: 150%;
}

.text18{
  /* 18px */
  font-size:1.8rem;
  line-height: 150%;
}

.text14{
  /* 14px */
  font-size:1.4rem;
  line-height: 150%;
}

.align-center{
  margin-left: auto;
  margin-right: auto;
}

.color7{
  color:#777777
}

.color5{
  color:#555555
}

.colorMain{
  color: var(--main-color)
}

.color-blue-gray{
  color: var(--blue-gray);
}

.wrap{
  /* 양 옆 여백 맞추기 위한 클래스 */
  padding-left: 7%;
  padding-right: 7%;
}

.slider{
  overflow: hidden;
}


/*************비디오**************/
video{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.main-img{
  height: 90vh;
}

/***** 메인화면 모바일용 크기 조정****/
@media screen and (max-width: 900px){
  .main-img{
    height: 50vh;
  }
}

.hasBackgroundColor{
  background-color: var(--background-color);
  padding-top: 0.5rem;
  padding-bottom: 2rem;
}

.margin-bottom-1rem{
  margin-bottom: 1rem;
}

.margin-top-4rem{
  margin-top: 4rem;
}

#footer{
  background-color: #FAFAFA;
  display: grid;
  padding-left: 3rem;
  grid-template-columns: 20rem 1fr;
  height: 10rem;
  text-align: justify;
}

#footer img{
  object-fit: contain;
}

#footer p {
  display: inline-block;
  margin: 0 3rem 0.2rem 0;
}

#footer section{
  margin: 3.2rem 0 0 3rem;
}

.worth{
  font-size: 2rem;
  color: var(--blue-gray);
  margin-bottom: 2rem;
}

.worth-text{
  font-size: 2.8rem;
  margin-bottom: 2rem;
  line-height: 130%;
  color: #119dad;
  font-weight: 400;
}

.worth-text strong{
  font-weight: 500;
}

.worth-explain{
  font-size: 1.7rem;
  color: #777777;
  line-height: 150%;
}

@media screen and (min-width: 1440px) {
  .worth{
    font-size: 2.2rem;
  }

  .worth-text{
    font-size: 3rem;
  }

  .worth-explain{
    font-size: 2rem;
  }
}

/***** 메인화면 모바일용 글자크기 조정****/
@media screen and (max-width: 900px){
  .worth{
    font-size: 1.4rem;
  }

  .worth-text{
    font-size: 2.rem;
  }

  .worth-explain{
    font-size: 1.2rem;
  }
}