:root {
  --main-color: #0c9aaa;
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
 }
 
 @font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 700;
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
 }
 
 @font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 300;
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
 }

 strong{
  font-weight: 400;
}
 
 body {
  font-family: 'NanumBarunGothic', sans-serif;
 }

img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.main-header {
  width: 100%;
  position: fixed;
  z-index: 1;
}

.logo-image {
  height: 50px;
}

@media screen and (max-width: 900px){
  #header-menu{
    display: none;
  }
}

#header-menu li{
  display: inline-block;
  font-size: 1.23rem;
  font-weight: 400;
}

#quick-menu {
  font-size: 1.23rem;
  font-weight: 400;
}

.right{
  margin-left: auto;
}

.vertical-middle{
  margin-top: 1rem;
  margin-bottom: 1rem;
}


/************ 언어 선택 ************/
.lang-select {
  margin-left: 20px;
  align-items: center;
}

.flags {
  width: 30px;
  height: 30px;
  display: inline-block;
}

.flags img {
  border-radius: 50%;
  object-fit: cover;
}


/*************비디오**************/
.video-player{
  width: 100%;
  font-size: 0; /*비디오 사이 간격 없애기 위해 추가한 거라 지우시면 안돼요 !*/
}

video{
  width: 100%;
}

/********** 팝업(모달) ***********/
#modal.modal-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#modal .modal-window {
  background: rgba( 69, 139, 197, 0.70 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 13.5px );
  -webkit-backdrop-filter: blur( 13.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  width: 400px;
  height: 500px;
  position: relative;
  top: -100px;
  padding: 10px;
}

#modal .title {
  padding-left: 10px;
  display: inline;
  text-shadow: 1px 1px 2px gray;
  color: white;
  
}

#modal .title h2 {
  display: inline;
}

#modal .close-area {
  display: inline;
  float: right;
  padding-right: 10px;
  cursor: pointer;
  text-shadow: 1px 1px 2px gray;
  color: white;
}

#modal .content {
  margin-top: 20px;
  padding: 0px 10px;
  text-shadow: 1px 1px 2px gray;
  color: white;
}

/*************진료과목**************/

.treatment-subject{
  background-color: white;
  padding : 2em 3em 3em 3em;
}

#treatment-subject-text{
  padding: 0 0 2em 0;
}

#treatment-subject-text span{
  color: #151515;
  font-size:larger;
  font-weight: 100;
}

.carousel-item{
  background-color: #eeeeee;
  height: 30rem;
}

/***********오시는길************/
.location{
  display: grid;
  grid-template-columns: 30% 1fr;
}