[data-tab-content]{
    display: none;
}

.active[data-tab-content]{
    display: block;
}

.tabs{
    display: table;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    color: var(--blue-gray);
    font-size: 2rem;
    height: 7rem;
    line-height: 7rem;
    font-weight: 500;
    width: 100%;
    text-align: center;
}

.tabs li{
    padding: 0;
}

.tab{
    width: fit-content;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    margin-right: 2rem;
}

.tab.active{
    border-bottom: solid 3px #03c9c9;
    color: #03c9c9;
}

body{
    background-color: #F2FCFC;
}