table{
    border-top: 0.2rem solid var(--background-color);
    border-bottom: 0.2rem solid var(--background-color);
}

table td{
    height: 40rem;
    padding: 0 0 0 0;
}

table td:first-child{
    width: 50%;
}

.pic{
    background-color: var(--background-color);
}

.text{
    padding: 0 7rem 0 7rem;
}