#main-image{
    width: 30%;
    object-fit: cover;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.step{
    display: grid;
    grid-template-columns: 33.5% 1fr;
    margin-bottom: 2rem;
}

.step-num{
    font-size: 4rem;
    color: var(--main-color);
    margin-bottom: 1.5rem;
}

.step-todo{
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

.step-explain{
    font-size: 1.4rem;
    color: #555555;
    line-height: 140%;
}

.bolder{
    font-weight: 900;
}

.step img{
    height: 20rem;
}