#main-image{
    width: 30%;
    object-fit: cover;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.step{
    display: grid;
    grid-template-columns: 33.5% 1fr;
    margin-bottom: 2rem;
}

.bolder{
    font-weight: 900;
}

.step img{
    height: 20rem;
}