#pictograms{
    align-items: center;
    display: table;
    margin: 3.5rem auto 7.5rem auto;
}

.pictogram{
    width: 11rem;
    display: inline-block;
    text-align: center;
    margin: 0 1.5rem 0 1.5rem;
}

.pictogram img{
    margin-bottom: 1rem;
}

.wrap{
    margin: 0 7rem 0 7rem;
}

#case2-before{
    background-image: url("/images/aesthetic/laminate/case/2/before.JPG");
    background-position: 60% 0%;
    background-size: 105%;
}

#case2-after{
    background-image: url("/images/aesthetic/laminate/case/2/after.jpg");
    background-position: 60% 100%;
    background-size: 103%;
}
