#pictograms{
    align-items: center;
    display: table;
    margin: 5rem auto 7.5rem auto;
}

.pictogram{
    width: 13rem;
    display: inline-block;
    text-align: center;
    margin: 0 1.5rem 0 1.5rem;
    line-height: 150%;
    font-size: 2.4rem;
    font-weight: 400;
}

.wrap{
    margin: 0 7rem 0 7rem;
}